In [1]:
#import necessary library
import pandas as pd
import requests
import csv
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup #For data scrapping

In [2]:
#For mounting the drive
#If you want to run it on your local machine then skip it and change the csv diractory as your own interest
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
#Html Request to the website.
page = requests.get("https://www.worldometers.info/coronavirus/?fbclid=IwAR0L9-HT-jDr8yXdZaeIsKT_kLkwFyGxwGGa8ezWQ2lGRrDd4Kjk_zqWtE8#news")
soup = BeautifulSoup(page.content,'html.parser')
#from the website, All we need is the table.
table = soup.findAll("table", {"id":"main_table_countries_today"})[0]
# Fatch all the rows and store in a list.
rows = table.findAll("tr")

# Store as a CSV format

with open("/content/gdrive/My Drive/Colab Notebooks/COVID-19/covid_update.csv", "wt+",encoding="utf-8", newline="") as f:
    writer = csv.writer(f)
    for row in rows:
      csv_row = []
      for cell in row.findAll(["td", "th"]):
        csv_row.append(cell.get_text())
      writer.writerow(csv_row)

# Data Exploration

In [4]:
#importing necessary library
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set() # Apply the default seaborn theme, scaling, and color palette

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [36]:
df = pd.read_csv("/content/gdrive/My Drive/Colab Notebooks/COVID-19/covid_update.csv")

In [37]:
df.head(10)

     #      Country,Other  ... 1 Deathevery X ppl 1 Testevery X ppl
0  NaN  \nNorth America\n  ...                NaN               NaN
1  NaN  \nSouth America\n  ...                NaN               NaN
2  NaN         \nEurope\n  ...                NaN               NaN
3  NaN           \nAsia\n  ...                NaN               NaN
4  NaN         \nAfrica\n  ...                NaN               NaN
5  NaN        \nOceania\n  ...                NaN               NaN
6  NaN               \n\n  ...                NaN               NaN
7  NaN              World  ...                NaN               NaN
8  1.0                USA  ...              2,530                 9
9  2.0             Brazil  ...              3,495                66

[10 rows x 19 columns]

At first we need to name our features in a meaningful and authentic way.

In [29]:
df.columns = ['#','Country','TotalCases','NewCases','TotalDeaths','NewDeaths','TotalRecovered','NewRecovered','ActiveCases','SeriousCritical','TotalCasesPerMillion','DeathsPerMillion','TotalTests','TestsPerMillion','Population','Continent','CaseEvery','DeathEvery','TestEvery']
df.head()

    #            Country TotalCases  ... CaseEvery DeathEvery TestEvery
0 NaN  \nNorth America\n  3,249,522  ...        \n        NaN       NaN
1 NaN  \nSouth America\n  2,303,508  ...        \n        NaN       NaN
2 NaN         \nEurope\n  2,467,078  ...        \n        NaN       NaN
3 NaN           \nAsia\n  2,396,454  ...        \n        NaN       NaN
4 NaN         \nAfrica\n    422,343  ...        \n        NaN       NaN

[5 rows x 19 columns]

We've seen some columns are not that much rellivent. We'll reduce those columns

In [30]:
df = df.drop(['#','CaseEvery','DeathEvery','TestEvery'], axis=1)
df.head(10)

             Country  TotalCases  ...    Population          Continent
0  \nNorth America\n   3,249,522  ...           NaN      North America
1  \nSouth America\n   2,303,508  ...           NaN      South America
2         \nEurope\n   2,467,078  ...           NaN             Europe
3           \nAsia\n   2,396,454  ...           NaN               Asia
4         \nAfrica\n     422,343  ...           NaN             Africa
5        \nOceania\n       9,643  ...           NaN  Australia/Oceania
6               \n\n         721  ...           NaN                NaN
7              World  10,849,269  ...           NaN                All
8                USA   2,782,346  ...  331,007,570       North America
9             Brazil   1,456,969  ...  212,562,300       South America

[10 rows x 15 columns]

The First 8 Rows data is continantal data. We will deal with only countries data. So We're going to delete first 8 row from this dataset.

In [31]:
df = df.iloc[8:]
df.head()

   Country TotalCases NewCases  ... TestsPerMillion      Population      Continent
8      USA  2,782,346   +2,393  ...         105,414    331,007,570   North America
9   Brazil  1,456,969   +3,600  ...          15,184    212,562,300   South America
10  Russia    661,165   +6,760  ...         138,205    145,934,790          Europe
11   India    607,344   +2,124  ...           6,562  1,380,011,546            Asia
12      UK    313,483      NaN  ...         142,325     67,887,024          Europe

[5 rows x 15 columns]

We can see the index start from 8. So we're going to reset the index number.

In [32]:
df = df.reset_index(drop=True)
df.head()

  Country TotalCases NewCases  ... TestsPerMillion      Population      Continent
0     USA  2,782,346   +2,393  ...         105,414    331,007,570   North America
1  Brazil  1,456,969   +3,600  ...          15,184    212,562,300   South America
2  Russia    661,165   +6,760  ...         138,205    145,934,790          Europe
3   India    607,344   +2,124  ...           6,562  1,380,011,546            Asia
4      UK    313,483      NaN  ...         142,325     67,887,024          Europe

[5 rows x 15 columns]

In [12]:
#Data discription
df.describe()

       Country TotalCases NewCases  ... TestsPerMillion Population Continent
count      223        223       88  ...             192        215       220
unique     216        215       71  ...             192        214         7
top     Total:         13       +5  ...          81,917               Africa
freq         8          2        5  ...               1          2        58

[4 rows x 15 columns]

From this Description We got some interesting instinct. <br>
### 1: Tatal affected countries = 215 
### 2: Most affectected Continent = Africa
### 3: Total affect countries in Africa = 58

In [15]:
df.shape

(223, 15)

In [19]:
df.tail(10)

                   Country  TotalCases  ...      Population          Continent
213  Saint Pierre Miquelon           1  ...          5,794       North America
214                  China      83,537  ...  1,439,323,776                Asia
215                 Total:   3,249,522  ...             NaN      North America
216                 Total:   2,303,508  ...             NaN      South America
217                 Total:   2,467,078  ...             NaN             Europe
218                 Total:   2,396,454  ...             NaN               Asia
219                 Total:     422,343  ...             NaN             Africa
220                 Total:       9,643  ...             NaN  Australia/Oceania
221                 Total:         721  ...             NaN                NaN
222                 Total:  10,849,269  ...             NaN                All

[10 rows x 15 columns]

In [34]:
df = df.drop(df.index[215:222])
df = df.reset_index(drop=True)
df.tail()

                   Country  TotalCases  ...      Population      Continent
211              St. Barth           6  ...          9,877   North America
212               Anguilla           3  ...         15,003   North America
213  Saint Pierre Miquelon           1  ...          5,794   North America
214                  China      83,537  ...  1,439,323,776            Asia
215                 Total:  10,849,269  ...             NaN            All

[5 rows x 15 columns]

In [39]:
df.replace(np.nan, 'f', regex=True)
df.tail()

      # Country,Other  ... 1 Deathevery X ppl 1 Testevery X ppl
226 NaN        Total:  ...                NaN               NaN
227 NaN        Total:  ...                NaN               NaN
228 NaN        Total:  ...                NaN               NaN
229 NaN        Total:  ...                NaN               NaN
230 NaN        Total:  ...                NaN               NaN

[5 rows x 19 columns]